body,html {
  margin: 0px;
  position: relative;
  background-color: #008080;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#game-container{
  position: relative;
  width: 100%;
  height: 100%;
}
canvas {
  margin: auto;

}